
# Compiled Data
.vs/ThirdPartyAnimal/v17
3PA.API/bin/
3PA.API/obj/
3PA.API/Properties/
3PA.API/appseetings.json
3PA.API.Services/bin/
3PA.API.Services/obj/
3PA.Data.Sql/bin/
3PA.Data.Sql/obj/
3PA.Core/bin/
3PA.Core/obj/
3PA.Queue/bin/
3PA.Queue/obj/

# Projects not yet shared
3PA.Queue/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

TestResults/
.nuget/
/packages/
artifacts/
PublishProfiles/
*.user
*.cache
*.docstates
nuget.exe
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*.ncrunchsolution
*.*sdf
*.ipch
/*.vspx
*.metaproj*

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.pdb
.vs/

# Sample data
*.zip
*.7z
*.txt
*.pdf